<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>584920410687-k88c940cprgo2bu6uvb89t8e8oks10ug.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.584920410687-k88c940cprgo2bu6uvb89t8e8oks10ug</string>
	<key>API_KEY</key>
	<string>AIzaSyAY7rx7_LhPLdc0225PQKVAOv0LF3oepJ0</string>
	<key>GCM_SENDER_ID</key>
	<string>584920410687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nader.said.tawah.Chatter</string>
	<key>PROJECT_ID</key>
	<string>chatter-4b1b3</string>
	<key>STORAGE_BUCKET</key>
	<string>chatter-4b1b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584920410687:ios:c4f3965f90f747809de68a</string>
</dict>
</plist>